<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 mb-4 border-bottom">
        <h5 class="my-0 mr-md-auto font-weight-normal">Blog</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="me-3 py-5 text-dark text-decoration-none" href="/">Main</a>
            <a class="me-3 py-5 text-dark text-decoration-none" href="/blog">Blog</a>
            <a class="py-2 text-dark text-decoration-none" href="/about">About</a>
        </nav>
    </div>
</div>